*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f0f0f0;
    text-align: center;
}

.container{
    width: 400px;
    padding: 40px;
    background: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 20px;
}

#count{
    color: #007BFF;
    font-size: 3rem;
    margin: 20px 0;
}

button{
    background-color: #007BFF;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 7px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: #0056b3;
}

#reset{
    background-color: #f44336;
}

#reset:hover{
    background-color: #d32f2f;
}
